extends layout

block content
  div.container
    row
      h1.landingHeader#mainHeader komit makes meetings more effective

    hr
    row
      h3.landingCaption With komit, a team can keep notes and track commitments in real time. 
      hr
      h4 Track progress on commitments in between meetings and get the most out of your team's time.

    hr
    row
      div.col-md-4
        h4.cardHeader Collect Notes
        div.landingCard
          img.landingCardGif(src='/images/notes.gif')
          p Everyone in a meeting can take notes and see them in real time.
      div.col-md-4
        h4.cardHeader Track Commitments
        div.landingCard 
          img.landingCardGif(src='/images/commit.gif')
          p Easily assign commitments and set timelines.
      div.col-md-4
        h4.cardHeader Email the Summary
        div.landingCard 
          img.landingCardGif(src='/images/email.gif')
          p All members receive an email summary when the meeting is over.

    row
      a#signUpButton.btn.btn-primary(href='/pricing') Sign Up Now!