doctype html
html
  head
    title komit.io
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='http://code.jquery.com/jquery-2.0.3.min.js')
    script(src="http://code.jquery.com/ui/1.10.4/jquery-ui.js")
    script(src='//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js')


  body
    nav.navbar.navbar-default(role='navigation')
      div.navbar-header
        button.navbar-toggle(type='button', data-toggle='collapse', data-target='#collapsable')
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        div.navbar-inner
          a.navbar-brand(href='/') 
            img(src='/images/hand-white.png', style='width:30px')
            span(style='padding:5px;') komit.io

      div.collapse.navbar-collapse#collapsable
        ul.nav.navbar-nav
          //li.active
          //  a(href='/about') About
          //li
            //a(href='/pricing') Pricing

        ul.nav.navbar-nav.navbar-right
          li
            a.btn.btn-primary#registerButton(href='/pricing') Register
          li.dropdown
            a.btn.btn-warning#signInButton(href='/login') Sign In

    block content