extends layout

block content
  script(src='//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.backbone.min.js')
  link(rel='stylesheet', href='/stylesheets/meeting.css')
  script(src='/js/meeting.js')
  
  div.container
    h1 #{meeting.name}
    hr

    row
      div.col-md-8
        button#addNote.addButton.btn.btn-primary.btn-sm(style='margin:10px;') Add Note
        button#addCommitment.addButton.btn.btn-primary.btn-sm(style='margin:10px;') Add Commitment

    row
      div#noteForm.col-md-8(hidden)
        form
          h4 Topic
          input#noteTopicInput.form-control
          h4 Content
          textarea#noteContentInput.form-control
          br
          br
          button#cancelNoteButton.btn.btn-warning Cancel
          button#addNoteButton.btn.btn-warning Save
      div#commitmentForm.col-md-8(hidden)
        form
          h4 Commitment
          input.form-control
          h4 Date
          input.form-control(type='date')
          br
          br
          button#cancelCommitmentButton.btn.btn-warning Cancel
          button.btn.btn-warning Save

    row
      div.col-md-8
        h3 Notes
        div#notes


      //              
        div.col-md-3
          div.card
            h3 Attendees
            hr
            div#attendees(ng-controller='AttendeesController')
              div.card(ng-repeat='attendee in attendees')
                p {{attendee.name}}

      div.col-md-8
        h3 Commitments
        div#committments

      
