extends layout

block content
  div.container
    h1 Morgan Herlocker
    hr

    row
      a.btn.btn-primary(href='/setupMeeting') Start Meeting
    hr

    row
      h2 My Commitments
    hr

    row
      h2 My Meetings