extends layout

block content
  div.container
    row
      h1.landingHeader Pricing

    hr

    h2 The first week is free and you can cancel at any time
    row
      div.col-md-4
        h2.cardHeader Paddle
        div.pricingCard
          h3
            ul
              li 1 user
              li Unlimitted Meetings
          h1.price
            b $10 
            span / month
          button.btn.btn-primary Sign Up
      div.col-md-4
        h2.cardHeader Wind
        div.pricingCard
          h3
            ul
              li 5 users
              li Unlimitted Meetings
          h1.price
            b $20 
            span / month
          button.btn.btn-primary Sign Up
      div.col-md-4
        h2.cardHeader Steam
        div.pricingCard
          h3
            ul
              li 15 users
              li Unlimitted Meetings
          h1.price
            b $30 
            span / month
          button.btn.btn-primary Sign Up
