extends layout

block content
  div.container
    row
      h1.landingHeader Pricing

    hr
    row
      div.col-md-4
        h2.cardHeader Paddle
        div.pricingCard
          h3
            ul
              li 1 user
              li Unlimitted Meetings
          h1.price
            b $9 
            span / month
          button.btn.btn-primary Sign Up
      div.col-md-4
        h2.cardHeader Wind
        div.pricingCard
          h3
            ul
              li 5 users
              li Unlimitted Meetings
          h1.price
            b $19 
            span / month
          button.btn.btn-primary Sign Up
      div.col-md-4
        h2.cardHeader Steam
        div.pricingCard
          h3
            ul
              li 15 users
              li Unlimitted Meetings
          h1.price
            b $29 
            span / month
          button.btn.btn-primary Sign Up
