extends layout

block content
  div.container
    row
      h1.landingHeader Pricing

    hr

    h2 Try the first week on us
    row
      div.col-md-4
        h2.cardHeader Paddle
        div.pricingCard
          h3
            ul
              li 1 user
              li Unlimitted Meetings
          h1.price
            b $10 
            span / month
          a.btn.btn-primary(href='/register?plan=paddle') Sign Up
      div.col-md-4
        h2.cardHeader Wind
        div.pricingCard
          h3
            ul
              li 5 users
              li Unlimitted Meetings
          h1.price
            b $20 
            span / month
          a.btn.btn-primary(href='/register?plan=wind') Sign Up
      div.col-md-4
        h2.cardHeader Steam
        div.pricingCard
          h3
            ul
              li 15 users
              li Unlimitted Meetings
          h1.price
            b $30 
            span / month
          a.btn.btn-primary(href='/register?plan=steam') Sign Up
