extends layout

block content
  script(src='/js/register.js')
  div.container
    row
      h1.landingHeader Almost there!

    hr
    row.col-md-6.col-md-offset-3
      div#registerFormDiv
        form(role='form')
          div.form-group
            label(for='emailInput') Email
            input#emailInput.form-control(type='email', placeholder="Enter email")
          div.form-group
            label Password
            input#passwordInput.form-control(type='password', placeholder="Enter Password")
          div.form-group
            label Confirm Password
            input.form-control(type='password', placeholder="Re-enter Password")
          div.form-group
            label Card Type
            select.form-control()
              option Visa
              option Mastercard
              option American Express
          div.form-group
            label Card Expiritation
            input.form-control(type='date')
          div.form-group
            label Security Code
            input.form-control(type='text', placeholder='Enter Security Code')
          div.radio
            label
              input#optionsRadios1(type='radio', name='optionsRadios', value='paddle')
              | Paddle [1 user @ $10/month]
          div.radio
            label
              input#optionsRadios2(type='radio', name='optionsRadios', value='wind')
              | Wind [5 users @ $20/month]
          div.radio
            label
              input#optionsRadios2(type='radio', name='optionsRadios', value='steam')
              | Steam [15 users @ $30/month]

          div#registerFormButtonDiv
            submit.btn.btn-primary#registerDoneButton Done
