extends layout

block content
  script(src='/js/setupMeeting.js')
  div.container
    row
      h1 Setup Meeting
    hr

    row.col-md-6.col-md-offset-3
      h2 Meeting Name
      div.control-group
        input#meetingNameInput.form-control(type='text')
      h2 Attendees
      div.control-group
        label(for='userInput') Name
        // this should autocomplete with known users
        input#nameInput.form-control(type='text')
      div.control-group
        label(for='userInput') Email
        // this should autocomplete with known emails
        input#emailInput.form-control(type='text')
      div#addUserButtonDiv
        button#addUserButton.btn.btn-warning.btn-sm Add User
      table.table.table-bordered
        thead
          th Name
          th Email
          th
        tbody#invitesBody

      div#startMeetingButtonDiv
          a.btn.btn-primary#startMeetingButton(href='/meeting') Send Invites