extends layout

block content
  div.container
    row
      h1 Setup Meeting
    hr

    row.col-md-6.col-md-offset-3
      h2 Attendees
      form
        div.control-group
          div.controls.form-inline
            label(for='userInput') User
            // this should autocomplete with known users
            input#userInput.form-control(type='text')
            button.btn.btn-primary.btn-sm +
        table.table
          thead
            th name
            th email
          tbody
            td John Doe
            td doe@email.com
        div#startMeetingButtonDiv
            submit.btn.btn-primary#startMeetingButton Send Invites