.card {
  padding:1.5rem;
  box-shadow:0 3px 2px #aaa;
  background:white;
  margin:0 1rem 1rem;
  border-radius:3px;
  user-select:none;
  animation:fly-in-from-left .5s 1s ease both;
  transform-origin:top left;
}

.edit {
  padding-right: 5px;
}


.remove {
  
}

#noteContentInput {
  height: 200px;
}

.ui-state-highlight { height: 1.5em; line-height: 1.2em; }

.note {
  min-height: 100px;
}

.note-ph {
  background-color: grey;
}

#notes{
  background-color: lightgrey;
  padding: 20px;
}

#commitments{
  background-color: lightgrey;
  padding: 20px;
}