body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#registerButton, #signInButton {
	margin: 8px;
}

.landingHeader {
	color: black;
}

body {
	background-color: white;
}

.landingCard {
	background-color: white;

}

.cardHeader {
	background-color: lightgrey;
	padding: 20px;
}

.landingCardGif {
	height:260px; 
	width:100%;
}