body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#registerButton, #signInButton {
	margin: 8px;
}

.landingHeader {
	padding: 20px;
	color: black;
	background-color: #ecae1f;
}

body {
	background-color: white;
}

.landingCard {
	background-color: white;

}

.cardHeader {
	background-color: lightgrey;
	padding: 20px;
}

.landingCardGif {
	height:260px; 
	width:100%;
}

.landingCaption {
	background-color: lightblue;
	padding: 20px;
}

#signUpButton {
	margin-left: 50%; 
	margin-top: 50px;
	padding: 25px;
	float: center;
}

.price {
	align: center;
}

#registerFormButtonDiv {
	text-align: center;
}

#registerDoneButton {
	margin-top: 20px
}